* {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #fffeff;;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
h3 {
    text-indent: 30px;
}
div {
    display: block;
    margin-right: 30px;
}
div.flex {
    display: flex;
}
fieldset {
    width: 30%;
}
#fixedLogo {
    margin: 0;
    z-index: 1;
    position: fixed;
    top:5px;
    right: 15px;
}
input {
    float: right;
    margin-left: 10px;
    background: lavenderblush;
}
input:focus{
    background: white;
}
input::placeholder {
    color: darkblue;
}
#nav {
    margin-right: 0;
    overflow: hidden;
    position: sticky;
    top: -5px;
    padding: 0;
    height: 55px;
    margin-top: 0;
    border-style: solid solid solid solid;
    border-top-width: 1px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    background:#ffeec7;
}
#select-city {
    font-size: 18px;
    margin-top: 15px;
    margin-right: 60px;
    float: right;
    vertical-align: center;
}
select {
    background: lavenderblush;
    font-size: 16px;
}
#submit {
    font-size: 18px;
    display: block;
    height: 30px;
    width: auto;
    margin: 10px;
    float: left;
}
#submit:hover {
    background: lightgrey;
}
#submit:active {
    background: darkgrey;
}
form {
    bottom: 0;
    overflow: hidden;
    margin-top:30px;
    padding: 10px;
    background: #d7e7f7;
    border-style:solid;
    border-radius: 5px;
}
textarea {
    background: lavenderblush;
}
#Weather {
    margin:3px;
    color: blueviolet;
    font-size: 72px;
}

header {
    display: block;
    margin-bottom: 0;
    padding: 3px;
    text-align: center;
    background:#ffeec7;
    border-style:solid solid none solid;
    border-radius: 30px 30px 0 0;
}
ul.horizontal-list {
    margin: 0 auto;
    list-style: none;
}
ul.horizontal-list li {
    display: inline-block;
    width: 150px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    background: #d7e7f7;
    margin: 10px 40px 5px;
    border-style: solid;
    border-radius: 5px;
}
ul.horizontal-list li:hover {
    background: #daeafa;
}
ul.horizontal-list li:active {
    background: #dfefff;
}
ul.horizontal-list li a {
    display: block;
    color: black;
    text-decoration: none;
}
article {
    overflow: hidden;
    margin-top:30px;
    padding: 20px;
    background: #d7e7f7;
    border-style:solid;
    border-radius: 5px;
}
section {
    margin-top:20px;
    padding: 5px 20px 15px 20px;
    background: #d9e9f9;
    border-style:solid;
    border-radius: 5px;
}
p.ind {
    bottom: 75px;
}
section > article {
    border-width: 1px;
}
h3 ~ p {
    text-indent: 30px;
}
section.left {
    width: 70%;
}
aside {
    margin-right: 20px;
    float: right;
    width: 20%;
    margin-top:30px;
    padding: 20px;
    background: #d7e7f7;
    border-style:solid;
    border-radius: 5px;
}
iframe.center {
    display: block;
    margin: 0 auto;
    width: 60%;
}

img {
    margin: 10px;
}
img.center {
    margin: 0 auto;
    display: block;
}
img.left {
    float: left;
}
img.right {
    float: right;
}
footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding-left: 10px;
    border-color:lavenderblush;
    border-style: solid;
    background: lightgrey;
    height: 60px;
}