* {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #ffefff;;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
h3 {
    text-indent: 30px;
}
#fixedLogo {
    z-index: 2;
    position: fixed;
    top:0;
    right: 10px;
    margin: 3px;
}
#Weather {
    margin:3px;
    color: blueviolet;
    font-size: 72px;
}
nav {
    z-index: 1;
    overflow: hidden;
    position: sticky;
    top: -5px;
    padding: 0;
    height: 55px;
    margin-top: 0;
    border-style: solid solid solid solid;
    border-top-width: 1px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    background:#ffeec7;
}
header {
    margin-bottom: 0;
    padding: 3px;
    text-align: center;
    background:#ffeec7;
    border-style:solid solid none solid;
    border-radius: 30px 30px 0 0;
}
ul.horizontal-list {
    position: relative;
    margin: 0;
    list-style: none;
}
ul.horizontal-list li {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    background: #d7e7f7;
    margin: 10px 40px 5px;
    border-style: solid;
    border-radius: 5px;
}
ul.horizontal-list li:hover {
    background: cadetblue;
}
ul.horizontal-list li:active {
    background: blue;
}
ul.horizontal-list li a {
    display: block;
    color: black;
    text-decoration: none;
}
ul.horizontal-list li a:visited {
    display: block;
    color: grey;
    text-decoration: none;
}
article {
    overflow: hidden;
    margin-top:30px;
    padding: 20px;
    background: #d7e7f7;
    border-style:solid;
    border-radius: 5px;
}
section {
    margin-top:20px;
    padding: 5px 20px 15px 20px;
    background: #d9e9f9;
    border-style:solid;
    border-radius: 5px;
}
p.ind {
    position: relative;
    bottom: 75px;
}
section > article {
    position: relative;
    border-width: 1px;
}
header + main {
    margin-top: 70px;
}
h3 ~ p {
    text-indent: 30px;
}
section.left {
    width: 70%;
}
aside {
    margin-right: 20px;
    float: right;
    width: 20%;
    font-family: 'Roboto', sans-serif;
    margin-top:30px;
    padding: 20px;
    background: #d7e7f7;
    border-style:solid;
    border-radius: 5px;
}
img {
    margin: 10px;
}
img.center {
    margin: 0 auto;
    display: block;
}
img.left {
    float: left;
}
img.right {
    float: right;
}
footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding-left: 10px;
    border-color:lavenderblush;
    border-style: solid;
    background: lightgrey;
    height: 60px;
}