* {
    font-size: 18px;
}
section {
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
}
#submit {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 3px grey;
    font-size: 18px;
    background: #f7e7c7;
    display: block;
    height: 30px;
    margin: 15px 5px 15px 15px;
    float: left;
}
#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 3px grey;
    transition: all 0.2s ease-out;
    transform: translateY(-3px);
}
#sub {
    transition: all 0.2s ease-out;
    box-shadow: 0 0 3px grey;
    font-size: 18px;
    background: #f7e7c7;
    display: block;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px 5px 15px 15px;
    float: left;
}
#sub:hover {
    cursor: pointer;
    box-shadow: 0 0 3px grey;
    transition: all 0.2s ease-out;
    transform: translateY(-3px);
}
#registration {
    padding: 10px;
    position: relative;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 255, 0.02);
    box-shadow: 0 0 10px darkgrey;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    max-width: 500px;
    height: 540px;
}
#reg_submit_div {
    grid-row: 5;
}

#city-select {
    position: relative;
    & > label {
        z-index: 1;
        position: absolute;
        right: 5px;
        top: 1.3em;
    }
    & > input {
        padding: 0;
        margin: 0;
        outline: none;
        background: lightcyan;
        font-size: 18px;
        height: 1.3em;
        width: 98%;
    }
    & > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: #f5f5d0;
        font-size: 18px;
        overflow-y: scroll;
        height: 7em;
        cursor: pointer;
        width: 100%;
        & > li {
            margin: 0;
            text-indent: 5px;
        }
    }
}
#grid-reg {
    display: grid;
    width: 100%;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    & > div {
        padding: 0;
        display: block;
        width: 100%;
    }
    & input:not([type="radio"]):not([placeholder="Поиск"]) {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

#reg-notifications {
    grid-column: span 2;
}
#switchLogin {
    text-align: right;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 5;
    align-items: center;
    & u {
        cursor: pointer;
    }
}

#login {
    position: relative;
    z-index: 2;
    backdrop-filter: blur(10px);
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 255, 0.02);
    box-shadow: 0 0 10px darkgrey;
    border-radius: 5px;
    height: 450px;
    flex-direction: column;
    width: 300px;
    display: none;
    align-content: space-around;
    & > div {
        & > label {
            margin-top: 10px;
        }
        & > button {
            margin-top: 30px;
        }
        & > input {
            height: 1.5em;
        }
        & > #sub {
            margin-top: 30px;
        }
        & > #switchRegistration {
            position: absolute;
            bottom: 30px;
            right: 30px;
            display: block;
            text-align: right;
            vertical-align: bottom;
            color: #222222;
            & > u {
                cursor: pointer;
            }
        }
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}