#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 210px;
    grid-auto-rows: 205px;
    gap: 30px;
    & > div {
        min-width: 100px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #d9e9f9;
        box-shadow: 0 0 8px darkgrey;
        border-radius: 5px;
    }
}
.void {
    display: none;
}
section {
    background: #ddedfd;
}
#current-weather {
    position: relative;
    grid-column: span 4;
    & > div {
        display: flex;
        column-gap: 80px;
        flex-wrap: wrap;
        align-items: center;
    }
    & > div > div {
        height: 40%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        & > img {
            margin: 10px
        }
    }
    & > div > div > div {
        margin-left: 30px;
        margin-bottom: 15px;
        font-size: 20px;
        & > span {
            margin-left: 10px;
        }
    }
}
#city-select {
    margin: 30px;
    position: relative;
    & > label {
        z-index: 1;
        position: absolute;
        right: 5px;
        top: 3px;
    }
    & > input {
        outline: none;
        background: lightcyan;
        font-size: 18px;
    }
    & > select {
        outline: none;
        background: #f5f5d0;
        font-size: 18px;
        -webkit-appearance: none;;
        width: 100%;
        height: 150px;
    }
}
#map {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: span 3;
    & iframe {
        margin: 10px 30px 30px 30px;
        width: 90%;
        min-height: 400px;
        height: 80%;
    }
}


@media (min-width: 800px) and (max-width: 1400px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 600px 205px;
        grid-auto-rows: 205px;
        gap: 30px;
        & > div {
            max-width: 1fr;
        }
    }
    #map {
        grid-column: span 4;
    }
    .void {
        display: block;
        visibility: hidden;
    }
}
@media (max-width: 800px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 600px 205px;
        grid-auto-rows: 205px;
        gap: 30px;
        & > div {
            max-width: 1fr;
        }
    }
    #current-weather {
        grid-column: span 2;
    }
    #map {
        grid-column: span 2;
    }
    .void {
        display: block;
        visibility: hidden;
    }
}